@use "./base.scss";

// put your custom CSS here!

*{
    transition: color 0.8s ease;
}

body,
section {
    transition: background-color 1s ease !important;
}

a {    
    &.internal{
        transition: background-color 0.8s ease;
    }
}

// *{
//     transition: color 0.8s ease !important;
//     transition: background-color 0.8s ease !important;
// }

.search {
    & > #search-icon{
        transition: background-color 0.8s ease;
    }
}

code {
    transition: background-color 0.8s ease;
}